@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: "PolySans";
  src: url("./assets/fonts/PolySans-Bulky.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: "Open Sauce Sans";
  src: url("./assets/fonts/open-sauce.sans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-bg: #fafafa;
  --color-text: #111111;
  --font-sans: "Gilroy", sans-serif;
  --font-serif: "Open Sauce Sans", sans-serif;

  --color-primary-50: #E6FFF8;
  --color-primary-100: #c9f9ec;
  --color-primary-200: #93f3d7;
  --color-primary-300: #5bf0c8;
  --color-primary-400: #01C847;
  --color-primary-500: #01AF3E;
  --color-primary-600: #009434;
  --color-primary-700: #007a2a;
}

.font-serif {
  font-family: var(--font-serif) !important;
  font-weight: bold !important;
  line-height: 1.05 !important;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
